<div class="container has-background-warning-light">
  <h1 class="subtitle is-5"><%= @nickname %>の本だな<i class="fa fa-book fa-fw"></i><%= @books.count %>さつ</h1>
  <div class="columns is-multiline">
  <% @books.each do |book| %>
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <p><%= image_tag book.image_url %></p>
        </div>
        <div class="card-title">
          <p><%= book.title %></p>
          <p><%= book.author %></p>
          <%= link_to "きろくをみる", book_review_path(book.id), class:"button is-success is-light" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  </div>
</div>