<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="list">
      <%= image_tag(book.medium_image_url) %>
      <p><%= book.title %></p>
      <p><%= book.author %></p>

      <%= form_with model: @book, url: books_path, local: true  do %>
      <p><%= hidden_field_tag :title, book.title %></p>
      <p><%= hidden_field_tag :image_url, book.medium_image_url %></p>
      <p><%= hidden_field_tag :author, book.author %></p>
      <%= submit_tag "よんだよ！" %>
      <% end %>
      <hr>
    </div>
  <% end %>
<% end %>